html{
    scroll-behavior: smooth;
}

.header-nav__social img {
    width: 30% !important;
    height: auto;
}

.header-nav__social li a {
    color: #0087cc !important;
}

.header-logo img {
    width: 80% !important;
    height: auto;
}

.service-text h3 {
    color: red !important;
}

.btn-dev-con {
    width: 215px;
    border: none;
    color: red;
    letter-spacing: 0.25rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;


    display: flex;
    justify-content: center;
    font-family: "montserrat-medium", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    height: 5.4rem;
    width: auto;
    line-height: calc(5.4rem - 0.4rem);
    margin: 0 0.3rem 1.2rem 0;
    padding: 0 3rem;
    color: red;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff !important;
}

.btn-dev-con:hover {
    background-color: black !important;
    color: #fff;
}

.device-link button{
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.device-link {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: red;
    transition: .3s;
    width: 100%;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.device-link:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.features-btn {
    background-color: #000 !important;
    color: #fff;
}